<h2>Upload CSV from instagram scape here</h2>

<p>Instagram can be scraped using this service <a href="https://blog.apify.com/scrape-instagram-posts-comments-and-more-21d05506aeb3">on apify</a></p>
<p>
  specific product <a href="https://apify.com/jaroslavhejlek/instagram-scraper">here</a>
</p>

<%= form_tag({action: :create}, multipart: true) do %>
  <%= file_field_tag 'CSV-file' %>
  <%= submit_tag("Upload") %>
<% end %>