<div class="mt3 pa4 main-container">
  <h1 class="tc mt1 pt4">Submissions</h1>
  <p>
    Use this page to navigate through submissions sent to the Monument Monitor project. You can filter on site and submission type using the form below. Clicking on and image will open it in a new tab for you to download.
    In time you will be able to compare sets of images; if you want any additional features for this site that you feel may be of use please ask Rosie.
  </p>
  <%= react_component("Search", props: {siteNames: @site_names})  %>
<div>
