<div class="mt0 pa4 main-container">
  <h1 class="tc mt1 pt4">Submissions</h1>
  <p>
    Use this page to navigate through submissions sent to the Monument Monitor project. You can filter on site and submission type using the form below. Clicking on and image will open it in a new tab for you to download.
  </p>
  <p>
    If you select two different images you can assess them using the 'compare' button, but please bear in mind this is in beta mode and may still have a few bugs. Currently the site only has submissions from Whatsapp and Email, a script to integrate social media posts is still in development. If you want any additional features that you feel may be of use please email Rosie.
  </p>
  <%= react_component("Search", props: {siteNames: @site_names})  %>
<div>
