
<nav>
  <div>
    <%= image_tag("logo-2019-inverted.png", :alt => "logos", class: "logo") %>

    <h2>add an icon for assistance<h2>
    <h2>add search functionality here</h2>
  </div>
</nav>

<main>
  <%= react_component("FilterHome", props: {siteNames: @site_names})  %>
</main>
