<div class="mt0 pa4 main-container">
  <h1 class="tc mt1 pt4">Submissions</h1>
  <p class="w-90 center">
    Use this page to navigate through submissions sent to the Monument Monitor project. You can filter on site and submission type using the form below. Clicking on and image will open it in a new tab for you to download.
  </p>
  <p class="w-90 center">
    If you select two different images you can assess them using the 'compare' button, but please bear in mind this is in beta mode and still has several bugs with image orientation and size that will be ironed out. Currently the site only limited submissions from twiter and instagram, a script to fully integrate them is still in development. If there are any additional features that you feel may be of use to you please email Rosie.
  </p>
  <%= react_component("Search", props: {siteNames: @site_names})  %>
<div>
