<h2>Upload Basic Submissions file here</h2>

<p>This is to be used once, when transferring data from s3 into azure. </p>


<%= form_tag({action: :create}, multipart: true) do %>
  <%= date_field_tag(:from_date, Date.today - 1.week) %><br/>
  <%= file_field_tag 'file' %>
  <%= submit_tag("Upload") %>
<% end %>