<h2>Upload JSON file from instagram scape here</h2>

<p>Instagram can be scraped using this instamancer</p>
<p>
  right <a href="https://adamsm.com/instamancer/">here</a>
</p>

<%= form_tag({action: :create}, multipart: true) do %>
  <%= date_field_tag(:from_date, Date.today - 1.week) %><br/>
  <%= file_field_tag 'CSV-file' %>
  <%= submit_tag("Upload") %>
<% end %>