<h3 id="bulk-upload"> Bulk Upload</h3>
<p>
  Drop images into the box below. They will be automatically uploaded and
  approriate metadata sought for them.
  <br/>
  If a 'date taken' entry cannot be found in the image meta data, the current date will be assigned along with
  a tag for 'unsure date'.
  <br/>
  Participant ID will automatically be assigned to the default email address, and the type will autmotically be assigned to 'email'.
</p>

<form action="/file-upload"
      class="dropzone simpledropzone"
      id="simpledropzone"></form>