<div class="row">
  <div class="twelve columns">
      <h1>Welcome to Monumental</h1>

      (the backend)

      The purpose of this server is to:

      1. scrape images from twitter
      1a. store the image urls into a db
      2. scrape images from instagram
      2a. store image urls into db
      3. be able to upload images (or image urls) to the db (for emailed images)

      4. plug the image urls into watson, to get some intersting data on them (specifically fountain)

      5. pull met office weather for the images, and store it with them

      6. the db should be able to have json objects in it.

      7. it should be on heroku


      so, step one:
      put it on heroku

      step two,
      create db

      step three
      create scrapers

  </div>
</div>
