<div class="row">
  <div class="twelve columns">
    <h1>Welcome to Monumental</h1>

    The purpose of this server is to:
    <ol>
      <li>
        Scrape images from twitter
      </li>
      <li>
        Store the image urls into a db
      </li>
      <li>
        Scrape images from instagram
      </li>
      <li>
        Store image urls into db
      </li>
      <li>
        Be able to upload images (or image urls) to the db (for emailed images)
      </li>
      <li>
        Plug the image urls into watson, to get some intersting data on them (specifically fountain)
      </li>
      <li>
        Pull met office weather for the images, and store it with them
      </li>
    </ol>
    <%= link_to 'Veiw all entries', controller: 'images' %>
    <%= link_to 'New image?', new_image_path %>
  </div>
</div>
