<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>The images you have downloaded are now ready</h1>
    <p>
      They can be found at this <a href="<%= @url %>">link</a>  
      <br/>
      <br/>
      <%= @url %><br>
    </p>
  </body>
</html>