// Theme styles:
// Background
$main-bg-color: #232327;
$nav-bg-color: #000000;

$main-font-color: #eaeaea;
$main-off-white-font-color: #efebdc;

$green-background: #004035;
$blue-background: #243647;
$twitter: #5b8cd6;
$whatsapp: #3bb772;
$instagram: #b766cc;
$email: #bf4f4f;

// data-vis
$data-background: #243647;

$data-text-color: #7b8899;
.hidden {
  display: none;
}

body {
	background-color: $main-bg-color;
  color: $main-font-color;
  min-height: 100vh;
}

.black-background {
  background-color: $main-bg-color;
}



.blue-background {
  background-color: $blue-background; 
}

.white-background {
  background-color: $main-font-color
}

.dark-color {
  color: rgb(28,28,33)
}

.data-box {
  background-color: $data-background;
  color: $data-text-color;
}

.data-bold-color {
  color: $main-off-white-font-color;
}

div.twitter {
  background-color: $twitter;
}

div.email {
  background-color: $email;
}

div.instagram {
  background-color: $instagram;
}

div.whatsapp {
  background-color: $whatsapp;
}
svg {
  padding-top: 15px;
}
svg.instagram {
  width: 30px;
  height: 30px;
  background-color: none;
  stroke: $instagram;
  fill: $instagram;
}

svg.twiter {
  width: 30px;
  height: 30px;
  background-color: none;
  stroke: $twitter;
  fill: $twitter;
}

svg.email {
  width: 30px;
  height: 30px;
  background-color: none;
  stroke: $email;
  fill: $email;
}
svg.whatsapp {
  width: 30px;
  height: 30px;
  background-color: none;
  stroke: $whatsapp;
  fill: $whatsapp;
}

button {
  color: $main-font-color;
}
.sticky {
  position: sticky;
  top: 0;
}

.active-button {
  background-color: $main-font-color;
  color: #000000;
}

@media (--breakpoint-not-small) {}


// Layout specific styles:
.main-container {
  background-color: rgba(28,28,33,0.86)
}

// Mobile
nav {
  width: 100vw;
  transition: width 0.2s ease-out;
}

// Desktop 
@media (min-width:801px) {
  nav {
    background: $nav-bg-color;
    width: 25vw;
    max-width: 500px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    div.nav-content {
      opacity: 1;
      transition: opacity 0.5s ease-out 0.5s;
    }
    img {
      opacity: 1;
    }
  }

  nav.collapsed {
    width: 5vw;
    svg {
      margin: 0 auto;
      width: 100%;
    }
    div.nav-content {
      opacity: 0;
    }
    img {
      width : 5vw;
      opacity: 1;
    }
  }
  
  main {
    position: relative;
    margin-left: 25vw;
  } 

  main.collapsed {
    margin-left: 5vw;
  }

  .display-desktop {
    display: initial;
  }
}




