
.multi-select {
	--rmsc-main: #3bb772 !important ;
	--rmsc-hover: #4285f4 !important;
	--rmsc-selected: #5b8cd6 !important;
	--rmsc-border: #ccc;
	--rmsc-gray: #151616 !important;
	--rmsc-bg: #fff;
	--rmsc-p: 10px; /* Spacing */
	--rmsc-radius: 4px; /* Radius */
	--rmsc-h: 38px; /* Height */
}

.dropdown-heading-value span {
	color: #151616;
}

.dropdown-content {
	color: #151616;
}