// Place all the styles related to the Images controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
img.index-main {
  width: 150px;
  height: auto;
}

div.show-view img {
  width: 150px;
  height: auto;
}

div.show-view ul {
  list-style: none;
}

a.show {
  display: initial !important;
}


// form
tr.info form {
  display: flex;
  align-items: center;
  flex-direction: row;
}

tr.info form div.image img {
  width: 400px;
  margin: 0 20px 0 0;
}
