// TODO - make this site specitic
// .info {
//   display: flex;
//   flex-direction: column;
//   align-items: flex-start;
// }

.info span {
  margin-top: 10px;
  font-weight: bold;
}

#map {
  height: 400px;
  width: 100%;
 }

.admin nav.pagination {
  background: initial;
  height: initial;

  span.previous_page {
    margin-right: 5px;
  }
  span {
    margin: 0 5px;
  }
 }