div.submission-form {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  padding: 0 15px;
  span, span.submission {
    width: 50%
  }
}

.submissions {
  padding-bottom: 5rem;
}

.submission {
  width: calc(50% - 1rem);
}

.submission:nth-of-type(even) {
  transform: translateY(4rem);
}

.pointer {
  cursor: pointer;
}

@keyframes fadeInImg {
  from {opacity: 0}
  to {opacity: 1}
}

.img-loading {
  opacity: 0;
  width: 100%;
  height: auto;
}
.img-loaded {
  animation: fadeInImg cubic-bezier(0.23, 1, 0.32, 1) 1;
  position: relative;
  opacity: 0;
  animation-fill-mode: forwards;
  animation-duration: 1s;
  animation-delay: 0.4s;
}
