div.submission-form {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  padding: 0 15px;
  span, span.submission {
    width: 50%
  }
}

.submissions {
  padding-bottom: 5rem;
}

.submission {
  width: calc(50% - 1rem);
}

.submission:nth-of-type(even) {
  transform: translateY(4rem);
}
