
.pointer {
  cursor: pointer;
}

div.submission-form {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  padding: 0 15px;
  span, span.submission {
    width: 50%
  }
}

.submissions {
  padding-bottom: 5rem;
  display: grid;
  grid-template-rows: 160px;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px 20px;
}

.submission {
  grid-column: span 1;
  grid-row: span 2;
  overflow: hidden;  
}

@media (min-width:550px) {
  .submissions {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Desktop 
@media (min-width:801px) {
  .submissions {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@keyframes fadeInImg {
  from {opacity: 0}
  to {opacity: 1}
}

.img-loading {
  opacity: 0;
  width: 100%;
  height: auto;
}
.img-loaded {
  animation: fadeInImg cubic-bezier(0.23, 1, 0.32, 1) 1;
  position: relative;
  opacity: 0;
  animation-fill-mode: forwards;
  animation-duration: 1s;
  animation-delay: 0.4s;
}

// Getting the overlap within the submission box
.submission .positioner {
  display: grid;
  height: 100%;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: 'overlap';

  .submission-image-holder {
    grid-area: overlap;
  }

  .submission-text {
    padding-top: 10%;
    grid-area: overlap;
    align-self: flex-end;
    z-index: 5;
    background-image: linear-gradient(rgba(171,201,232,0), rgba(171,201,232,1));
    color: black;
  }
}

// submission compare overlay

.ReactModal__Overlay--after-open {
  z-index: 3 !important;
}

.ReactModal__Overlay--after-open div {
  // max-height: 85%;
}


#type-dot {
  height: 10px;
  width: 10px;
  border-radius: 10px;
}

img.modal-image {
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

a.download-icon {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 1em;
  width: 6em;
}