<p id="notice"><%= notice %></p>

<h1>Sites</h1>

<% @sites.each do |site| %>
  <div class="mw9 center ph3-ns">
    <div class="cf ph2-ns pv2 mv2 ">
      <div class="fl w-10 pa2">
        <%= site.submissions.count %>
      </div>
      <div class="fl w-40 pa2 bb b--light-gray">
        <span><%= link_to site.name, site %></span>
      </div>
    </div>
  </div>

<% end %>

<% if admin? %>
  <%= link_to 'New Site', new_site_path %>
<% end %>